In [1]:
import pandas as pd
import seaborn as seaborn

In [2]:
df = pd.read_csv('agora.csv')
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [3]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

In [4]:
df[df['Transport'].isnull()]

    Marketing Spend  Administration  Transport   Area     Profit
19          86419.7       153514.11        NaN  Dhaka  122776.86

In [5]:
mean = df.Transport.mean()
median = df.Transport.median()

In [6]:
mean

215331.73244897963

In [7]:
median

214634.81

In [8]:
df['Transport'] = df['Transport'].fillna(median)

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
label = LabelEncoder()

In [11]:
df.Area = label.fit_transform(df['Area'])

# Multiple value transform

In [12]:
#df[['Profit','Transport']] = minmax.fit_transform(df[['Profit','Transport']])

In [13]:
df.head()

   Marketing Spend  Administration  Transport  Area     Profit
0        114523.61       136897.80  471784.10     1  192261.83
1        162597.70       151377.59  443898.53     0  191792.06
2        153441.51       101145.55  407934.54     2  191050.39
3        144372.41       118671.85  383199.62     1  182901.99
4        142107.34        91391.77  366168.42     2  166187.94

In [14]:
x = df.drop(['Profit'], axis=1)

In [15]:
x.head()

   Marketing Spend  Administration  Transport  Area
0        114523.61       136897.80  471784.10     1
1        162597.70       151377.59  443898.53     0
2        153441.51       101145.55  407934.54     2
3        144372.41       118671.85  383199.62     1
4        142107.34        91391.77  366168.42     2

In [16]:
y = df['Profit']

In [17]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [18]:
#x1 =  x.drop(['Area'], axis=1)

In [19]:
#x1.head()

# Standard scaler

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
stdScaler = StandardScaler()

In [22]:
newx = stdScaler.fit_transform(x)

In [23]:
x = pd.DataFrame(newx,columns=x.columns)

In [24]:
x.head()

   Marketing Spend  Administration  Transport      Area
0         0.897913        0.560753   2.187389  0.024626
1         1.955860        1.082807   1.949554 -1.206662
2         1.754364       -0.728257   1.642819  1.255914
3         1.554784       -0.096365   1.431856  0.024626
4         1.504937       -1.079919   1.286598  1.255914

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.30, random_state=12)

In [27]:
xtest

    Marketing Spend  Administration  Transport      Area
28        -0.168793        2.210141  -0.828755  1.255914
46        -1.593413       -0.199322   0.697640  1.255914
7          1.245057        0.871980   0.925894  1.255914
41        -1.008534       -1.320796  -0.433672  1.255914
36        -0.991570        0.205925  -0.121034  1.255914
29        -0.178609        1.142457  -0.922657  0.024626
21         0.102724        1.169186   0.720010  0.024626
48        -1.610433       -2.509409  -1.836435  0.024626
19         0.279442        1.159837  -0.005825  0.024626
8          1.030369        0.986952   0.821300  0.024626
17         0.460720        0.855666   0.573628  0.024626
38        -1.177178       -1.997270  -0.256318  0.024626
37        -0.652532       -2.525994  -0.155981 -1.206662
15         2.016411        0.045868   0.396242  0.024626
31        -0.276958        1.130554  -1.084026  0.024626

In [28]:
ytest.head()

28    103282.38
46     49490.75
7     155752.60
41     77798.83
36     90708.19
Name: Profit, dtype: float64

In [29]:
from sklearn.linear_model import LinearRegression

In [30]:
li = LinearRegression()

In [31]:
li.fit(xtrain,ytrain)

LinearRegression()

In [32]:
li.coef_

array([34509.40011131,  1140.85708146,  7580.21834293,  -400.55512717])

In [33]:
li.intercept_

113640.69933910946

In [34]:
ypred = li.predict(xtest)

In [35]:
ypred

array([103552.01333664,  63210.76688387, 164117.07455074,  73539.57269981,
        78236.61092874, 101776.59999013, 123967.47105013,  41272.2907548 ,
       124553.25100867, 156539.8486604 , 134854.42594995,  68785.59801413,
        87541.36990613, 186271.91415092,  97145.81907044])

In [36]:
from sklearn.metrics import r2_score

In [37]:
score = r2_score(ytest,ypred)

In [38]:
score

0.7409586621411576

In [39]:
from sklearn.metrics import mean_squared_error

In [43]:
error = mean_squared_error(ytest, ypred)

In [44]:
error

271499615.7480622

In [45]:
finalValue = error**.5

In [46]:
finalValue

16477.24539321006